
.nav {
    text-align: center;
    box-sizing: content-box;
    background-color: rgb(169, 201, 157);
    border-radius: 20px;
}

.nav__listItem {
    margin: 10px 0;
    display: inline-block;
    font-weight: bold;
}

.nav__list {
    list-style-type: none;
    padding: 10px;
}

.nav__link {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.nav__link:hover {
    color: black;
    outline: 1px solid;
}