html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    max-width: 1000px;
    padding: 0 30px;
    margin: 0 auto;
    background-color: rgb(253, 253, 251);
    font-family: 'Lato', sans-serif;
}

.header__title {
    color: rgb(69, 175, 140);
    padding-top: 20px;
    padding-bottom: 30px;
}









.header__button {
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: rgb(231, 229, 229);
    font-family: 'Open Sans', sans-serif;
}

.header__photo {
    outline: 10px solid rgb(129, 177, 133);
    box-shadow: 10px 6px 20px 6px #010000;
}

