
.table {
    border-collapse: collapse;
    margin: auto;
    overflow-x: auto;
}

.table__color {
    background-color: white;
}

.table__cell {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.table__cell--header {
    background-color: rgb(135, 170, 122);
    color: white;
}

.table__cell:hover {
    background-color: rgb(82, 170, 116);
}

.table__caption {
    caption-side: bottom;
    text-align: right;
    margin-top: 5px;
}